
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Special+Gothic+Expanded+One&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Special Gothic Expanded One", sans-serif;
}


body{
    background-color: black;
 
}


img{
width: 100%;
border-radius: 5px;


}

.button-js{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
background-color: #79cb15;
border:none;
border-radius: 10px;
color: black;
padding: 10px;
cursor: pointer;
width: 150px;
margin-top: 15px;
font-size: 90%;
font-weight: 400;
}

button:hover{
    opacity: 0.6;
}


ul{
    list-style: none;
    display: grid;
grid-template-columns: 200px 200px 200px;
gap: 100px;
justify-content: center;


}
li{

    border: 2px solid #8133ff;
    border-radius: 5px;
    padding: 5px;
}


p {
    color: floralwhite;
}

.item-price{
    font-weight:500;
    color: #79cb15;
    
}

